body{
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin: 0px;
}
.vector {
    margin: 24px;
    text-align: center;
}
.text {
    margin: 0 0px 25px 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    padding: 0 15px 0 15px;
    text-align: center;
}
.button1{
    margin: 24px 0px 25px 0px;
    background: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}
.button2{
    margin: 24px 0px 25px 0px;
    background: #FFFFFF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #0057FF;
}
.wrapped{
    width: 100%;
}
main{
    position: relative;
    top: -10px;
    background-color: #0057FF;
    width: 100%;
    height: 457px;
    margin: 0px;
}
h1{
    margin: 0px;
    padding: 25px;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}
.tx{
    margin: -15px auto;
    padding: 0 0 25px;
    width: 150px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}
h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 30px 0px 24px 16px;
}
.backgroundAside{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 0;
    padding-top: 16px;
}
.profile{
    border: 1px solid #ffffff;
    border-radius: 50px;
    float: left;
    margin: 0px 10px;
}
.name{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;

}
.nick{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ABACB1;
    margin: 0px;
}
.time{
    float: right;
    margin-top: -30px;
    margin-right: 15px;
    width: 52px;
    height: 21px;
    text-align: right;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #ABACB1;
}
.mes{
    margin: 10px 60px 0px 75px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 250px;
}
.cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
.cards li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B1B1B1;
}
.line{
    margin: 0 0 25px;
    border: 1px solid #E9E9E9;
}
.gradient{
    position: relative;
    top: -100px;
    height: 130px;  
    background: linear-gradient(0deg, #FFFFFF 21.87%, rgba(255, 255, 255, 0) 100%);
}
.background{
    display: none;
}
.footer{
    position: relative;
    top: -40px;
    margin-left: 5%;
    margin-right: 5%;
}
.end{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}
/* Feed */
.headerFeed{
    display: block;
    background: #0057FF;
    padding: 13px;
    text-align: center;
}
aside{
    width: 100%;
}
.footerFeed{
    display: block;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 2%;
}
.blok{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.blokNavigationMes{
    position: relative;
    bottom: -2px;
}
.underline{
    position: relative;
    top: 10px;
    height: 3px;
    width: 425%;
    background: #0057FF;
}
.rectangle{
    display: block;
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 64px;
    height: 64px;
    background: #0057FF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 33px;
}
.headerFeed1{
    display: none;
}
.blokAside{
    display: none;
}
/* User */
.poster{
    width: 100%;
}
.profilInfo{
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    margin: 0;
    height: auto;
}
.InfoPhoto{
    display: flex;
    border: 4px solid #FFFFFF;
    border-radius: 60px;
    position: relative;
    bottom: 55px; 
    margin-left: 5px;
    height: 110px;
    width: 110px;
}
.InfoPhoto360{  
    display: block;
}
/* .InfoProfileText{
    display: flex;
    flex-direction: column;
} */

.InfoName{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    margin-left: 13px;
}
.InfoNick{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ABACB1;
    margin-top: 0;
    margin-left: 13px;
}
.InfoStatus{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 13px;
}
.InfoLink{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ABACB1;
    margin: 4px;
    margin-left: 13px;
}
.InfoBlok360{
    display: block;
}
.InfoBlok{
    display: flex;
    margin-right: 20px;
}
.InfoVektorBlok{
    display: flex;
    width: 10px;
}
.InfoVector{
    position: relative;
    right: 11.5px;
    bottom: 3px;

}
.InfoVector1{
    position: relative;
    right: 4.5px;
    margin-bottom: 7px;
    
}
.InfoVector2{
    position: relative;
    left: -10px;
    top: -6px;
}
.InfoIndicators{
    width: 100%;
    margin-left: 2.5%;
    margin-right: 0;
}
.InfoIndicators1{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 0px;

}
.InfoIndicators2{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding-right: 15px;
    color: #ABACB1;
}
.InfoButton{
    margin: 20px 13px 24px 13px;
    background: #FFFFFF;
    border: 1px solid #0057FF;
    border-radius: 5px;
    padding: 14px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-align: center;
    color: #0057FF;
}
.InfoBlok900{
    display: none;
}

/* Followers List */
.FollowersPoster{
    display: block;
}
.FollowersPoster950{
    display: none;
}
.poster{
    object-fit: cover;
}
.button1{
    margin: 24px 0px 25px 0px;
    background: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}
.FolloversRead{
    float: right;
    background: #FFFFFF;
    border: 1px solid #0057FF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #0057FF;
    padding: 5px;
    width: 20%;
    margin-right: 15px;
}
.FolloversReadBlue{
    float: right;
    background:#0057FF ;
    border: 1px solid #0057FF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    width: 20%;
    margin-right: 15px;
}
.FolloverText{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-left: 10px;
    margin-top: 0;
}
/* Single Post */
.SingleMes{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
}
.SingleNameNick{
    display: flex;
    justify-content: space-between;
    margin-right: 15px ;
}
.SingleName{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}
.SingleNick{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ABACB1;
    margin-top: 0;
}
.SingleTime{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #ABACB1;
    width: 50px;
    text-align: right;
}
.SingleImg{
    padding-top: 16px;   
}
.SingleCards {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.SingleCards li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* color: #0057FF;; */
}
.a{
    color: #B1B1B1;
}
.b{
    color: #0057FF;
}
.SingleAnswer{
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ABACB1;
    margin-left: 16px;
    margin-right: 16px;
    padding: 15px;
    /* margin-bottom: 30px; */
}
.SingleTextPost{
    display: none;
}
.SingleButtonBlok{
    display: none;
}

@media (min-width: 700px) {
    body{
        background: #edededd0;
        width: 100%;
    }
    header{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background: #FFFFFF;
    }
    .box{
        flex: 1 0 10%;
        background-size: cover;
    }
    .vector {
        text-align: left;
        margin-top: 8%;
        margin-left: 10%;
    }
    .text {
        width: 80%;
        margin-bottom: 10%;
        text-align: left;
        font-size: 400%;
        line-height: 100%;
        margin-left: 7%;
    }
    .button1{
        width: 50%;
        margin-bottom: 4%;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        margin-right: 20px;
    }
    .button2{
        width: 50%;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        margin-bottom: 4%;
        margin-left: 0;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        top: -25px;
        background-color: #0057FF;
        width: 80%;
        height: 274px;
    }
    .box1{
        flex: 1 0 10%;
        justify-content: center; 
        align-items: center;
    }

    h1{
        margin-top: 15%;
        padding: 0px;
        font-size: 72px;
    }
    .tx{
        margin: 0;
        padding: 0px;
        margin: auto;
        font-size: 18px;
    }
    h2{
        font-size: 36px;
        line-height: 43px;
        margin-left: 10%;
        font-weight: 700;
    }
    aside{
        float: left;
        margin-left: 10%;
        margin-bottom: 15px;
        margin-top: 25px;
        width: 57%;
    }
    .profile{
        border: 1px solid #ffffff;
        border-radius: 50px;
        float: left;
        margin: 0px 10px;
    }
    .name{
        float: left;
        font-size: 16px;
        line-height: 24px;
        margin-right: 16px;
        font-weight: 700;
    
    }
    .nick{
        font-size: 16px;
        line-height: 24px;
    }
    .time{
        width: 100px;
        font-size: 14px;
        line-height: 24px;
    }
    .mes{
        width: 70%;
    }
    .cards {
        width: 100%;
        padding-left: 13%;
        justify-content: start;
        gap: 10%;
    }
    .cards li {
        justify-content: start;
    }
    .background {
        display: block;
        float: right;
        width: 20%;
        margin-right: 10%;
        margin-top: 25px;
        padding: 1%;
        padding-top: 0;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    h3{
        font-weight: 700;
        font-size: 23px;
        line-height: 32px;
    }
    h4{
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        width: 150px;
        /* margin: 0; */
    }
    .location{
        float: left;
        margin-top: -23px;
    }
    .city{
        float: left;
        margin-top: -23px;
        margin-left: 4%;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #0057FF;
    }
    .numberOfPosts{
        float: left;
        margin-top: -23px;
        margin-left: 3%;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #ABACB1;
    }
    .profileBack{
        float: left;
        margin-right: 3%;
    }
    .nameBack{
        font-weight: 600;
        font-size: 60%;
        line-height: 18px;

    }
    .nickBack{
        margin-top: -4%;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #ABACB1;
        padding-bottom: 5%;
    }
    .read{
        float: right;
        background: #FFFFFF;
        border: 1px solid #0057FF;
        border-radius: 5px;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #0057FF;
        width: 20%;
        padding: 5px;
        margin-top: 2%;
    } 
    .footer{
        text-align: center;
        clear: both;
        top: 0px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .end{
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
    }
    .button{
        width: 80%;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    /* Feed */
    .footerFeed{
        display: none;
    }
    .rectangle{
        display: none;
    }
    .headerFeed{
        display: none;
    }
    .headerFeed1{
        display: block;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        padding: 7px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    .blokNavigation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        padding-left: 3%;
        padding-right: 4%; 
    }
    .texNavigationBlue{
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        color: #0057FF;
        margin-left: 7px;
    }
    .texNavigation{
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        color: #B1B1B1;;
        margin-left: 7px;
    }
    .underline{
        position: relative;
        top: 18px;
        height: 3px;
        width: 725%;
        background: #0057FF;
    }
    .blokPropile{
        display: flex;
        margin-bottom: 15px;
    }
    .profileBlok{
        position: relative;
        bottom: 10px;
        border: 1px solid #ffffff;
        border-radius: 50px;
        float: left;
        margin-right: 10px;
    }
    .nameBlok{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
    }
    .nickBlok{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        margin-top: 0;
        color: #ABACB1;
    }
    h5{
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px; 
        margin: 0;
    }
    .textBlok{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
        color: #ABACB1;
        margin: 0; 
        padding-right: 15px;
    }
    .blokAside{
        display: block;
    }
    .placeholder{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ABACB1;
        padding-bottom: 16px;
        padding-top: 0;
        margin-top: 0;
        padding-left: 16px;
        margin-bottom: 3%;
    }
    /*User*/
    .FollowersPoster{
        display: none;
    }
    .FollowersPoster950{
        display: block;
        display: flex;
        height: 250px;
    }
    .poster{
        border-top: 1px #FFFFFF;
        border-radius: 10px 10px 0px 0px;
    }
    .profilInfo{
        border-radius: 10px;
        margin-bottom: 25px;
    }
    .InfoBlok360 {
        display: none;
    }
    .InfoBlok900 {
        display: block;
        float: left;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        max-height: 70px; 
    }
   .InfoButton{
        margin-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        width: 17%;
        height: 10%;

    }
    .InfoPhoto{
        float: left;
    }
    .InfoPhoto360{
        display: none;
    }
    .InfoLink{
        display: flex;
    }
    .InfoBlok{
        margin-right: 30px;
        margin-bottom: 30px;
        /* margin-left: 14px; */
    }
    .NameNick{
        width: 100%;
        display: flex;
    }
    .InfoNick{
        margin-top: 5px;
    }
    .InfoStatus{
        margin-top: 0px;
    }
    /* Single Post */
    .AsideColor{
        display: block;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin: 0;
        padding-top: 16px;
        background: #FFFFFF;
        border: 3px solid #0057FF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .SingleAnswer{
        display: none;
    }
    .SingleTextPost{
        display: block;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        margin-top: 0;
        margin-left: 16px;
    }
    .SingleButton{
        border: 1px solid #0057FF;
        border-radius: 10px; 
        margin-left: 16px;
        margin-bottom: 16px;
        padding: 14px;
    }
    .SingleButton2{
        border: 4px solid ;
        border-color: #DFDFDF #0057FF  #DFDFDF  #DFDFDF; 
        /* background: #0057FF; */
        /* transform: rotate(-90deg); */
        border-radius: 100px; 
        width: 45px;
        height: 30px;
        margin-left: 16px;
        margin-bottom: 16px;
        margin-right: 16px;
        padding: 10px 0 10px 0;
        text-align: center;
        color: #0057FF;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    .SingleButton3{
        background: #0057FF;
        border: 1px solid #0057FF;
        border-radius: 10px;
        margin-bottom: 16px;
        margin-right: 16px;
        width: 220px;
        color: #FFFFFF;
        padding-top: 17px;
        text-align: center;
        
    }
    .SingleButtonBlok{
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .SingleButtonBlok2{
        display: flex;
    }

    /* Settings */
    .HeadingEdit{
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .PrifilEdit{
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px; 
        width: 60%;
        margin-left: 52px;
        float: left;
    }
    .EditInput {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        border-radius: 10px;
        height: 52px;
        margin-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
        flex-direction: column;
    }
    .EditPhoto{
        border-radius: 80px;
        width: 20%;
        background: rgba(0, 0, 0, 0.4);
        float: right;
        margin-right: 22px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    button{
        width: 100%;
        background: #0057FF;
        border: 1px solid #0057FF;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        width: 25%;
        padding: 15px;
        margin-top: 24px;
        margin-left: 16px;
        margin-bottom: 32px;
    }
    .EditText{
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #E40060;
        margin-top: 3px;
        margin-left: 25px;
    }
    .EditBlok{
        display: flex;
    }
    .EditB{
        width: 70%;
    }
    .EditC{
        width: 95%;
    }
    .EditLabel{
        font-weight: 400;
        font-size: 9px;
        line-height: 11px; 
        color: #B1B1B1;
        margin-left: 16px;
        margin-top: 6px;
        margin-bottom: 4px;
    }
    .EditValue{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #555555;
        margin-bottom: 7px;
        margin-top: 0px;
        margin-left: 16px;
    }
    .EditColor{
        background: #FFDEEC;
        border: 1px solid #E40060;
    }
    .EditA{
        height: 80px;
    }
    .EditBackground{
        display: block;
        float: right;
        width: 25%;  
        margin-right: 8%;
        padding-top: 0;
        padding-bottom: 0;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .EditTitle{
        font-weight: 700;
    }
    .EditTitleColor{
        color: #0057FF;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
    }
    .EditLine{
        height: 40px;
        width: 5px;
        background: #0057FF;
    }
    .EditBackgroundP{
        margin-left: 15px;
    }
    .EditVektor{
        position: relative;
        left: 60px;
        top: 80px;
        width: 18px;
        float: right;
    }
    .EditTextInfo{
        font-size: 14px;
        line-height: 17px;
        margin-left: 18px;
    }
}