body{
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin: 0px;
}
header{
    display: flex;
    flex-wrap: wrap;
    /* width: 360px; */
    background: #FFFFFF;
}
.box{
    width: 100%;
}
.vector {
    margin-top: 24px;
    text-align: center;
}
.text {
    width: 328px;
    margin: 22px auto 24px auto;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
}
.button1IndexBox{
    width: 328px;
    margin: 0px auto 16px auto;
    background: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}
.button2IndexBox{
    width: 328px;
    margin: 0px auto 24px auto;
    background: #FFFFFF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #0057FF;
}
.wrapped{
    width: 100%;
    height: 203px;
    float: right;
    object-fit: cover;
}
main{
    position: relative;
    top: -10px;
    background-color: #0057FF;
    width: 100%;
    height: 457px;
    margin: 0px;
}
h1{
    margin: 0px;
    padding: 25px;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}
.tx{
    margin: -15px auto;
    padding: 0 0 25px;
    width: 150px;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.widthAside{
    width: 100%;
}
aside{
    width: 100%;
}
/* .backgroundAside{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 0;
} */
h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 42px 84px 4px 16px;
}
.Whitespace{
    display: none;
}
.profile{
    width: 57px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    float: left;
    margin: 0px 11px 0 16px;
}
.profileheaderFeed1{
    width: 27px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    text-align: center;
    margin: 8px 0px 0px 22px;
}
.profile1{
    border: 1px solid #ffffff;
    border-radius: 50px;
    width: 25px;
}
.BlokNameNickTime{
    display: flex;
    justify-content: space-between;
}
.BlokNameNick{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32px;
}
.name{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;

}
.nick{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ABACB1;
    margin: 0px;
}
.time{
    margin-top: 0;
    margin-right: 16px;
    width: 52px;
    height: 21px;
    text-align: right;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #ABACB1;
}
.mes{
    margin: 5px 16px 0px 87px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 250px;
}
.mesHeightFL{
    height: 16px;
}
.mesPhoto{
    margin: 10px 0px 0px 84px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* width: 250px; */
}
.cards {
    width: 170px;
    margin-left: 87px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
.cards li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B1B1B1;
}
.line{
    margin: 0 0 25px;
    border: 1px solid #E9E9E9;
}
.gradient{
    position: relative;
    top: -100px;
    height: 130px;  
    background: linear-gradient(0deg, #FFFFFF 21.87%, rgba(255, 255, 255, 0) 100%);
}
.background{
    display: none;
}
.footer{
    position: relative;
    top: -40px;
}
.end{
    width: 325px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 0 20px 24px 30px;
}
.button1Index{
    margin: 24px 0px 16px 0px;
    width: 328px;
    background: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}
.button2Index{
    margin: 0px 0px 0px 0px;
    width: 328px;
    background: #FFFFFF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #0057FF;
}

/* Feed */
.headerFeed{
    display: block;
    background: #0057FF;
    padding: 11px;
    width: 100%;
    text-align: center;
}

.footerFeed{
    display: block;
    width: 100%;
    height: 47px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    /* justify-content: space-around; */
    /* padding-top: 12px;
    padding-bottom: 15px; */
    text-align: center;

}
.blok{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.blokNavigationMes{
    position: relative;
    bottom: -2px;
}
.underline{
    position: relative;
    top: 12px;
    height: 3px;
    width: 110px;
    background: #000000;
}
.rectangle{
    display: block;
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 64px;
    height: 64px;
    background: #0057FF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 33px;
}
.headerFeed1{
    display: none;
}
.blokAside{
    display: none;
}
.AsideColor{
    display: none;
}
/* User */
.poster{
    width: 100%;
}
.profilInfo{
    background: #FFFFFF;
    /* box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05); */
    margin: 0;
    height: auto;
}
.InfoPhoto{
    display: flex;
    border: 4px solid #FFFFFF;
    border-radius: 60px;
    position: relative;
    bottom: 55px; 
    margin-left: 5px;
    height: 110px;
    width: 110px;
}
.InfoPhoto360{  
    display: block;
}
/* .InfoProfileText{
    display: flex;
    flex-direction: column;
} */

.InfoName{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    margin-left: 13px;
}
.InfoNick{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ABACB1;
    margin-top: 0;
    margin-left: 13px;
}
.InfoStatus{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 13px;
}
.InfoLink{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ABACB1;
    margin: 4px;
    margin-left: 13px;
}
.InfoBlok360{
    display: block;
}
.InfoBlok360Margin{
    margin-left: 14px;
    margin-top: 20px;
}
.InfoBlok{
    display: flex;
    /* margin-right: 10px; */
}
.InfoBlokVektorMargin{
    margin-left: 3px;
}
.InfoVektorBlok{
    display: flex;
    width: 10px;
}
.InfoVector{
    position: relative;
    right: 9.5px;
    bottom: 3px;

}
.InfoVector1{
    position: relative;
    right: 4.5px;
    margin-bottom: 7px;
    
}
.InfoVector2{
    position: relative;
    left: -10px;
    top: -6px;
}
.InfoIndicators{
    width: 115px;
    margin-left: 0;
    margin-right: 0;
}
.InfoIndicators1{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 0px;

}
.InfoIndicators2{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding-right: 0px;
    color: #ABACB1;
}
.InfoButton{
    width: 328px;
    margin: 20px auto 24px auto;
    background: #FFFFFF;
    border: 1px solid #0057FF;
    border-radius: 5px;
    padding: 14px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-align: center;
    color: #0057FF;
}
.InfoBlok900{
    display: none;
}

/* Followers List */
.FollowersPoster{
    display: block;
}
.FollowersPoster950{
    display: none;
}
.poster{
    object-fit: cover;
}
.button1{
    margin: 24px 0px 25px 0px;
    background: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}
.FolloversRead{
    float: right;
    background: #FFFFFF;
    border: 1px solid #0057FF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #0057FF;
    padding: 5px;
    width: 20%;
    margin-right: 15px;
}
.FolloversReadBlue{
    float: right;
    background:#0057FF ;
    border: 1px solid #0057FF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    width: 20%;
    margin-right: 15px;
}
.FolloverText{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-left: 10px;
    margin-top: 0;
}
.InfoPhotoBlok{
    display: block;
    height: 70px;
}
/* Single Post */
.SingleMes{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
}
.SingleNameNick{
    display: flex;
    justify-content: space-between;
    margin-right: 15px ;
}
.SingleName{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}
.SingleNick{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ABACB1;
    margin-top: 0;
}
.SingleTime{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #ABACB1;
    width: 50px;
    text-align: right;
}
.SingleImg{
    padding-top: 16px;   
}
.SingleCards li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* color: #0057FF;; */
}
.a{
    color: #B1B1B1;
}
.b{
    color: #0057FF;
}
.SingleAnswer{
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ABACB1;
    margin-left: 16px;
    margin-right: 16px;
}
.SingleTextPost{
    display: none;
}
.SingleButtonBlok{
    display: none;
}
textarea{
    margin-top: 10px;
    width: 98%;
    border: none;
    height: 30px;
    resize: none; /*черточки внизу*/
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ABACB1;;
    outline: none /*убрать рамку при вводе текста*/
  }
/* .AsideColor{
   height: 40px;
} */
/* Sing in */
.SingIn{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 940px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.SingInBackground{
    width: 100%;
    height: 324px;
    background: #FFFFFF;
    border-radius: 10px 10px 0px 0;
}
.HeadingSingIn{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 0;
    margin: 0;
    color: #1D1E22
}
.SingInBlok1{
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 19px;
    margin-top: 17px;
}
.SingInInput {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    height: 52px;
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
    width: 90%;
    flex-direction: column;
}
.SingInLabel{
    font-weight: 400;
    font-size: 9px;
    line-height: 11px; 
    color: #B1B1B1;
    margin-left: 16px;
    margin-top: 6px;
    margin-bottom: 4px;
}
.SingInValue{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #555555;
    margin-bottom: 7px;
    margin-top: 0px;
    margin-left: 16px;
}
.SingInButton{
    background: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 24px 18px 16px 18px;
    padding: 15px;  
}
.SingInText{
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #E40060;
    margin-top: 3px;
    margin-left: 15px;
}
.SingInColor{
    background: #FFDEEC;
    border: 1px solid #E40060;
}
.SingInHandler{
    display: block;
    width: 50px;
    height: 4px;
    background: #ABACB1;
    border-radius: 2px;
    margin: 16px auto 32px auto;
}

/* Sing up */
.SingUpBackground{
    width: 100%;
    height: 481px;
    background: #FFFFFF;
    border-radius: 10px 10px 0 0;
}
.SingUpLabel{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px; 
    color: #B1B1B1;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 16px;
}
/* Feed Post */
.FeedPostText{
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin-top: 0;
    margin-left: 16px;
}
textarea{
    margin-top: 10px;
    width: 95%;
    border: none;
    height: 330px;
    resize: none; /*черточки внизу*/
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #1D1E22;;
}
.FeedPostButtonBlok{
    display: block;
    display: flex;
    justify-content: space-between;
}
.FeedPostButton{
    border: 1px solid #0057FF;
    border-radius: 10px; 
    width: 25px;
    height: 25px;
    padding: 10px;
    padding-top: 13px;
    margin-right: 16px;
    text-align: center;
}
.FeedPostButton2{
    border: 4px solid ;
    border-color: #DFDFDF #0057FF  #DFDFDF  #DFDFDF; 
    border-radius: 100px; 
    width: 40px;
    height: 23px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    padding: 8px 0 10px 0;
    text-align: center;
    color: #0057FF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.FeedPostButton3{
    background: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-right: 16px;
    width: 220px;
    color: #FFFFFF;
    padding-top: 13px;
    text-align: center; 
}
a {
    text-decoration:none;
    color: inherit
}
/* Settings */
.ColorBody{
    background:  #edededd0;
}
.HeadingEdit{
    font-weight: 700;
    font-size: 18px;
    line-height: 43px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 10px;
}
.PrifilEdit{
    background: #ffffff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 400px;
}
.EditInput {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    height: 43px;
    margin-top: 10px;
    margin-left: 0px;
    /* margin-right: 16px; */
    /* width: 340px; */
    flex-direction: column;
}
.EditPhoto{
    border-radius: 100px;
    width: 80px;
    /* background-color:rgba(0, 0, 0, 0.169);
    opacity: 0.7;*/  /*будет светлый*/ 
    filter: brightness(65%);  /*темный*/
    float: right;
    margin-right: 0px;
    margin-top: -22px;
    margin-bottom: 0px;
    text-align: center;
}
.EditButton{
   width: 100px; 
}
button{
    
    background: #0057FF;
    border: 1px solid #0057FF;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 15px;
    margin-top: 24px;
    margin-left: 0px;
    margin-bottom: 32px;
}
.EditText{
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #E40060;
    margin-top: 3px;
    margin-left: 25px;
}
.EditBlok{
    display: flex;
}
.EditB{
    width: auto;
}
.EditC{
    width: auto;
}
.EditLabel{
    font-weight: 400;
    font-size: 9px;
    line-height: 11px; 
    color: #B1B1B1;
    margin-left: 16px;
    margin-top: 6px;
    margin-bottom: 0px;
}
.EditValue{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #555555;
    margin-bottom: 7px;
    margin-top: 0px;
    margin-left: 16px;
}
.EditColor{
    background: #FFDEEC;
    border: 1px solid #E40060;
}
.EditA{
    height: 80px;
}
.EditBackground{
    display: none;
}
.EditBackground360{
    display: block;
    width: auto;  
    padding-top: 10px;
    padding-bottom: 0;
    background: #FFFFFF ;
    border-radius: 10px;
}
.EditTitle{
    font-weight: 700;
}
.EditTitleColor{
    color: #0057FF;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.EditLine{
    height: 40px;
    width: 5px;
    background: #0057FF;
}
.EditBackgroundP{
    margin-left: 15px;
}
.EditVektor{
    position: relative;
    left: 12%;
    bottom: -10px;
    width: 14px;
    float: right;
}
.EditTextInfo{
    font-size: 14px;
    line-height: 17px;
    margin-left: 20px;
}
input[type=text],input[type=date],[type=email],input[type=password]{
    width: 98%;
    font-family: inherit;
    outline:none;
    border: none;
    height: 22px;
    color: black;
    background: scroll;
}
select{
    border: none;
    width: 98%
}
@media (min-width: 1280px){
    body{
        background: #edededd0;
        width: 100%;
    }
    header{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        background: #FFFFFF;
    }
    .box{
       height: 640px;
    }
    .vector {
        text-align: left;
        margin-top: 42px;
        margin-left: 64px;
    }
    .text {
        width: 410px;
        margin: 32px 166px 32px 64px;
        font-size: 48px;
        line-height: 58px;
        font-weight: 700;
        text-align: left;
    }
    .button1IndexBox{
        width: 260px;
        margin: 0 316px 16px 64px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }
    .button2IndexBox{
        width: 260px;
        margin: 0 316px 138px 64px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }
    .wrapped{
        height: 640px;
        float: right;
        margin-left: 166px;
        object-fit: cover;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        top: -25px;
        background-color: #0057FF;
        width: 960px;
        height: 274px;
    }
    .box1{
        flex: 1 0 10%;
        justify-content: center; 
        align-items: center;
    }

    h1{
        margin-top: 64px;
        margin-bottom: 16px;
        padding: 0px;
        font-size: 72px;
        line-height: 86px;
        font-weight: 100;
    }
    .tx{
        margin: 0;
        padding: 0px;
        margin: auto;
        font-size: 18px;
        font-weight: 200;
        line-height: 22px;
    }
    h2{
        font-size: 36px;
        line-height: 43px;
        margin-left: 0px;
        font-weight: 700;
    }
    .widthAside{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    aside{
        float: left;
        margin-left: 0px;
        margin-bottom: 15px;
        margin-top: 0px;
        width: 632px;
        background: #FFFFFF;
        border-radius: 10px;
    }
    .profile{
        width: 64px;
        border: 1px solid #ffffff;
        border-radius: 50px;
        float: left;
        margin: 0px 16px 0px 16px;
    }
    .BlokNameNickTime{
        display: flex;
        justify-content: space-between;
        height: 24px;
    }
    .BlokNameNick{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 24px;
    }
    .name{
        font-size: 16px;
        line-height: 24px;
        margin-right: 10px;
        font-weight: 700;
    }
    .nick{
        font-size: 16px;
        line-height: 24px;
    }
    .time{
        width: 100px;
        font-size: 14px;
        line-height: 24px;
    }
    .mes{
        margin: 4px 15px 0px 97px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        width: 520px;
        text-align: justify;
    }
    .mesPhoto{
        margin: 10px 0px 0px 85px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* width: 250px; */
    }
    .mesHeightFL{
        height: 40px;
    }
    .cards {
        width: 100%;
        padding-left: 13px;
        justify-content: start;
        gap: 10%;
    }
    .cards li {
        justify-content: start;
    }
    .background {
        display: block;
        float: right;
        width: 280px;
        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 15px;
        padding: 8px 16px 0 16px;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    h3{
        font-weight: 700;
        font-size: 23px;
        line-height: 32px;
        padding: 0;
        margin-top: 8px;
        margin-bottom: 0px;
    }
    h4{
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        width: 150px;
        margin-top: 13px;
        /* margin: 0; */
    }
    .location{
        float: left;
        margin-top: -18px;
    }
    .location2{
        float: left;
        margin-top: -17px;
        margin-left: 2.2px;
    }
    .city{
        float: left;
        margin-top: -18px;
        margin-left: 8px;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #0057FF;
    }
    .numberOfPosts{
        float: left;
        margin-top: -18px;
        margin-left: 15px;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        color: #ABACB1;
    }
    .profileBack{
        float: left;
        margin-right: 3%;
    }
    .nameBack{
        font-weight: 600;
        font-size: 60%;
        line-height: 18px;

    }
    .nickBack{
        margin-top: -4%;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #ABACB1;
        padding-bottom: 5%;
    }
    .read{
        float: right;
        background: #FFFFFF;
        border: 1px solid #0057FF;
        border-radius: 5px;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #0057FF;
        width: 20%;
        padding: 5px;
        margin-top: 2%;
    } 
    .footer{
        text-align: center;
        clear: both;
        top: 0px;
    }
    .end{
        width: 641px;
        margin-right: auto;
        margin-left: auto;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        margin-bottom: 0;
    } 
    .button{
        display: flex;
    }
    .button1Index{
        margin: 32px 16px 100px 55px;
        margin-top: 32px;
        margin-right: 16px;
        width: 260px;
        background: #0057FF;
        border: 1px solid #0057FF;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        text-align: center;
        color: #FFFFFF;
    }
    .button2Index{
        margin: 32px 16px 100px 0px;
        width: 260px;
        background: #FFFFFF;
        border: 1px solid #0057FF;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        text-align: center;
        color: #0057FF;
    }
  
    /* Feed */
    .footerFeed{
        display: none;
    }
    .rectangle{
        display: none;
    }
    .headerFeed{
        display: none;
    }
    .headerFeed1{
        display: block;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        padding: 7px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
    }
    .profileheaderFeed1{
        width: 48px;
        border: 1px solid #ffffff;
        border-radius: 50px;
        float: left;
        margin: 4px 16px 0px 0px;
    }
    .blokNavigation{
        display: flex;
        flex-direction: row;
        padding-top: 2px;
    }
    .blokNavigation2{
        align-self: center;
        margin-right: 20%;
    }
    .blok{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10px;
        margin-left:21px ;
    }
    .texNavigationBlue{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #000000;
        margin-left: 13px;
        margin-right: 27px;
    }
    .texNavigation{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #B1B1B1;;
        margin-left: 7px;
        margin-left: 13px;
        margin-right: 27px;
    }
    .underline{
        position: relative;
        top: 24px;
        height: 3px;
        width: 130px;
        background: #000000;
    }
    .blokPropile{
        display: flex;
        margin-bottom: 15px;
        width: 100px;  
    }
    .AsideColor{
        display: block;
        width: 99%;
        padding-top: 16px;
        margin-top: 0px;
        background: #FFFFFF;
        border: 3px solid #0057FF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .profileBlok{
        position: relative;
        top: -20px;
        bottom: 10px;
        border: 1px solid #ffffff;
        border-radius: 50px;
        float: left;
        margin-right: 10px;
    }
    .nameBlok{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
        /* margin-top: 10px; */
    }
    .nickBlok{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        margin-top: 0;
        color: #ABACB1;
    }
    h5{
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px; 
        margin: 0;
    }
    .textBlok{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
        color: #ABACB1;
        margin: 0; 
        padding-right: 15px;
    }
    .Whitespace{
        display: block;
    }
    .blokAside{
        display: block;
    }
    .placeholder{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ABACB1;
        padding: 21px 16px 21px 16px;
        margin: 0;
    }
    .blokNavigationProfil{
        position: relative;
        top: -19px;
    }
    .blokNavigationProfil1{
        height: 0px;
    }
    /*User*/
    .FollowersPoster{
        display: none;
    }
    .FollowersPoster950{
        display: block;
        display: flex;
        height: 250px;
    }
    .poster{
        border-top: 1px #FFFFFF;
        border-radius: 10px 10px 0px 0px;
    }
    .profilInfo{
        border-radius: 10px;
        margin-bottom: 25px;
    }
    .InfoBlok360 {
        display: none;
    }
    .InfoBlok900 {
        display: block;
        float: left;
        margin-top: 10px;
        max-height: 80px; 
        width: 100%;
    }
    .UserInfoBlok{
        display: flex;
    }
   .InfoButton{
        margin-top: 0;
        padding-left: 40px;
        padding-right: 40px;
        margin-right: 0;
    }
    .InfoPhoto{
        float: left;
    }
    .InfoPhoto360{
        display: none;
    }
    .InfoLink{
        display: flex;
    }
    .InfoBlok{
        margin-right: 30px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
    }
    .InfoBlokWidth{
        width: 495px;
    } 
    .NameNick{
        width: 100%;
        display: flex;
    }
    .InfoNick{
        margin-top: 5px;
    }
    .InfoStatus{
        margin-top: 0px;
    }
    /* Single Post */
    
    .SingleAnswer{
        display: none;
    }
    .SingleTextPost{
        display: block;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        margin-top: 0;
        margin-left: 16px;
    }
    .SingleButton{
        border: 1px solid #0057FF;
        border-radius: 10px; 
        width: 25px;
        height: 25px;
        margin-left: 16px;
        padding: 10px;
        padding-top: 13px;
        text-align: center;
    }
    .SingleButton2{
        border: 4px solid ;
        border-color: #DFDFDF #0057FF  #DFDFDF  #DFDFDF; 
        border-radius: 100px; 
        width: 40px;
        height: 23px;
        margin-left: 16px;
        margin-bottom: 16px;
        margin-right: 16px;
        padding: 8px 0 10px 0;
        text-align: center;
        color: #0057FF;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
    .SingleButton3{
        background: #0057FF;
        border: 1px solid #0057FF;
        border-radius: 10px;
        margin-bottom: 16px;
        margin-right: 16px;
        width: 220px;
        color: #FFFFFF;
        padding-top: 13px;
        text-align: center; 
    }
    .SingleButtonBlok{
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .SingleButtonBlok2{
        display: flex;
    }
    .InfoPhotoBlok{
        display: none;
    }
    textarea{
        margin-top: 10px;
        width: 95%;
        border: none;
        height: 70px;
        resize: none; /*черточки внизу*/
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color: #1D1E22;
        outline: none /*убрать рамку при вводе текста*/
      }

    /* Settings */
    .HeadingEdit{
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        margin-top: 50px;
        margin-left: 0;
    }
    .PrifilEdit{
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
        border-radius: 10px; 
        width: 632px;
        float: left;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
    }
    .EditInput {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        border-radius: 10px;
        height: 52px;
        margin-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
        flex-direction: column;
    }
    .EditPhoto{
        border-radius: 100px;
        width: 20%;
        /* background-color:rgba(0, 0, 0, 0.169);
        opacity: 0.7;*/  /*будет светлый*/ 
        filter: brightness(65%);  /*темный*/
        float: right;
        margin-right: 22px;
        margin-top: 24px;
        margin-bottom: 24px;
        text-align: center;
    }
    .EditButton{
        width: 650px; 
    }
    button{
        width: 100%;
        background: #0057FF;
        border: 1px solid #0057FF;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        width: 25%;
        padding: 15px;
        margin-top: 24px;
        margin-left: 16px;
        margin-bottom: 32px;
    }
    .EditText{
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #E40060;
        margin-top: 3px;
        margin-left: 25px;
    }
    .EditBlok{
        display: flex;
    }
    .EditB{
        width: 70%;
    }
    .EditC{
        width: 95%;
    }
    .EditLabel{
        font-weight: 400;
        font-size: 9px;
        line-height: 11px; 
        color: #B1B1B1;
        margin-left: 16px;
        margin-top: 6px;
        margin-bottom: 4px;
    }
    .EditValue{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #555555;
        margin-bottom: 7px;
        margin-top: 0px;
        margin-left: 16px;
    }
    .EditColor{
        background: #FFDEEC;
        border: 1px solid #E40060;
    }
    .EditA{
        height: 80px;
    }
    .EditBackground{
        display: block;
        float: right;
        width: 312px;  
        padding-top: 0;
        padding-bottom: 0;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .EditTitle{
        font-weight: 700;
    }
    .EditTitleColor{
        color: #0057FF;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
    }
    .EditLine{
        height: 40px;
        width: 5px;
        background: #0057FF;
    }
    .EditBackgroundP{
        margin-left: 15px;
    }
    .EditVektor{
        position: relative;
        left: 12%;
        bottom: -85px;
        width: 18px;
        float: right;
    }
    .EditTextInfo{
        font-size: 14px;
        line-height: 17px;
        margin-left: 20px;
    }
    /* Sing in */
    .SingIn{
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 940px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .SingInBackground{
        width: 362px;
        height: 294px;
        background: #FFFFFF;
        border-radius: 10px;
    }
    /* Sing up */
    .SingUpBackground{
        width: 362px;
        height: 445px;
        background: #FFFFFF;
        border-radius: 10px;
    }
    .SingInHandler{
        display: none;
    }
    input[type=text],input[type=date],[type=email],input[type=password]{
        width: 98%;
        font-family: inherit;
        outline:none;
        border: none;
        height: 22px;
        color: black;
        background: scroll;
    }
    select{
        border: none;
        width: 98%
    }
}