.TitleMess {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	margin: 35px 84px 8px 16px;
}
.PostLogic {
	display: flex;
}
.PostInfo {
	width: 100%;
	margin-bottom: 0px;
}
.PotoUser {
	width: 57px;
	height: 57px;
	background: #0057ff;
	border: 1px solid #ffffff;
	border-radius: 50px;
	float: left;
	margin: 16px 0px 0 16px;
	background-size: cover;
	object-fit: cover;
}
.InfoData {
	display: flex;
	justify-content: space-between;
	margin: 16px 16px 0 16px;
}
.InfoName {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 32px;
}
.UserName {
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	margin: 0px;
}
.UserNick {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #abacb1;
	margin: 0px;
}
.PostTime {
	margin-top: 0;
	margin-right: 0px;
	width: 100px;
	height: 21px;
	text-align: right;
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
	color: #abacb1;
}
.PostText {
	margin: 10px 16px 12px 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	width: 260px;
	overflow-wrap: break-word;
}
.postImg {
	margin: 10px 17px 15px 0px;
	width: 260px;
	border-radius: 20px;
}
.PostLike {
	width: 180px;
	height: 20px;
	margin-left: 16px;
	margin-top: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.PostLike li {
	justify-content: start;
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #b1b1b1;
}
.LikeVecktor {
	justify-content: start;
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #b1b1b1;
}
.LikeIMG {
	height: 13px;
	margin-top: 5px;
}
.LikeIMGfilter {
	height: 13px;
	margin-top: 7px;
	filter: brightness(1) invert(1) sepia(1) saturate(9) hue-rotate(-50deg);
}

.LikeText {
	color: #b1b1b1;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
}
.line {
	margin: 0px;
	padding: 0px;
	border: 1px solid #e9e9e9;
}
.LogicBlok1 {
	margin-left: 0px;
	margin-top: 0px;
	width: 100%;
	background: #ffffff;
	border-radius: 0px;
}
.logicBlok2 {
	display: none;
}
.color {
	background-color: #abacb1;
}
.colorWidth {
	width: 30px;
}
.colorWidth2 {
	width: 80px;
}
.colorHeight {
	height: 20px;
}
.colorHeight2 {
	height: 40px;
}
.Left {
	float: none;
}
.Right {
	float: none;
}
.br {
	display: block;
	height: 100px;
}
.brUserPage {
	display: none;
}
.folloverTitle {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	margin-left: 16px;
	margin-top: 7px;
	margin-bottom: 16px;
}
.spinner {
	width: 10px;
	height: 10px;
	border: 4px solid #ccc;
	border-top-color: #333;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin: 4px auto 4px auto;
}
.buttonText {
	margin: 4px auto 4px auto;
}
@media (min-width: 1280px) {
	.TitleMess {
		font-size: 36px;
		line-height: 43px;
		margin: 30px 0px 24px 0px;
	}
	.Logic {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
	.LogicBlok1 {
		margin-left: 0px;
		margin-top: 0px;
		width: 632px;
		background: #ffffff;
		border-radius: 10px;
	}
	.logicBlok2 {
		display: block;
		width: 280px;
		margin-left: 10px;
		margin-right: 0px;
		margin-bottom: 15px;
		padding: 6.94px 16px 5px 16px;
		background: #ffffff;
		box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
	}
	.PostListClass {
		margin: 0px;
		padding: 0px;
	}
	.PostInfo {
		margin-bottom: 0px;
	}
	.InfoData {
		height: 24px;
	}
	.InfoName {
		flex-direction: row;
		height: 24px;
	}
	.UserName {
		font-size: 16px;
		line-height: 24px;
		margin: 0 16px 0 0;
	}
	.UserNick {
		font-size: 16px;
		line-height: 24px;
	}
	.PostTime {
		width: 150px;
		font-size: 14px;
		line-height: 24px;
	}
	.PostText {
		margin: 10px 17px 15px 16px;
		width: 520px;
	}
	.postImg {
		margin: 10px 17px 15px 16px;
		width: 500px;
	}
	.PostLike {
		width: 240px;
		padding-left: 0px;
		align-items: flex-end;
	}
	.postTitle {
		font-weight: 700;
		font-size: 18px;
		line-height: 32px;
		padding: 0;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.topText {
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		width: 150px;
		margin-top: 13px;
	}
	.topNumber {
		margin-top: -18px;
		margin-left: 0px;
		font-weight: 400;
		font-size: 10px;
		line-height: 16px;
		color: #abacb1;
	}
	.blogs {
		margin: 0px;
		padding: 0px;
	}
	.blogIMG {
		float: left;
		margin-right: 3%;
		width: 48px;
		height: 48px;
		background-color: #0057ff;
		border-radius: 50px;
		background-size: cover;
		object-fit: cover;
	}
	.blogRead {
		float: right;
		background: #ffffff;
		border: 1px solid #0057ff;
		border-radius: 5px;
		font-weight: 500;
		font-size: 10px;
		line-height: 14px;
		text-align: center;
		color: #0057ff;
		width: 20%;
		padding: 5px;
		margin-top: 2%;
	}
	.blogReadColor {
		background: #0057ff;
		color: #ffffff;
	}
	.blogName {
		font-weight: 600;
		font-size: 60%;
		line-height: 18px;
	}
	.blogNick {
		margin-top: -4%;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		color: #abacb1;
		padding-bottom: 5%;
	}
	.color {
		background-color: #abacb1;
	}
	.colorWidthNam {
		width: 80px;
		height: 15px;
		margin-left: 55px;
	}
	.colorWidthNic {
		width: 100px;
		margin-top: 1px;
		margin-left: 55px;
	}
	.Left {
		float: left;
	}
	.Right {
		float: right;
	}
	.br {
		display: none;
	}
	.brUserPage {
		display: block;
		height: 20px;
	}
	.folloverTitle {
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 32px;
		margin-left: 16px;
		margin-top: 7px;
		margin-bottom: 16px;
	}
}
